<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="se.agslulea.app">

    <application
        android:name=".ui.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.AdminMainActivity"
            android:label="@string/administer" />
        <activity
            android:name=".ui.activities.AdminLoginActivity"
            android:label="@string/administer" />
        <activity
            android:name=".ui.activities.ChangePasswordActivity"
            android:label="@string/change_password" />
        <activity android:name=".ui.activities.ModifyDatabaseActivity" />
        <activity
            android:name=".ui.activities.ModifyTableActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.activities.ListMembersActivity"
            android:label="@string/members" />
        <activity
            android:name=".ui.activities.AddOrEditMemberActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".ui.activities.PickMembersActivity" />
        <activity android:name=".ui.activities.TimetableActivity" />
        <activity android:name=".ui.activities.MyActivity" />
        <activity
            android:name=".ui.activities.EditTimetableActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.activities.NewActivityActivity"
            android:label="@string/new_activity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".ui.activities.RollCallActivity"/>
    </application>

</manifest>